/* 
##################################################################
Creates variables so colours can be called throughout the css file
##################################################################
*/

:root {
    --bg-colour: #f6f6f6;
    --logo-text: #8cc63e;
    --highlight-colour: #d1dac2;
    --h-color: #43493a;
    --border-color: #204B57;
  }
  

/*
###########
Base styles
###########
*/

html, body {
    width: 100%;
  }

body {
    height: 100vh; 
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    background-color: var(--bg-colour);
}


/* 
################
Main styles
################
*/

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.flexing {
    display: flex;
    flex-shrink: 0;
}

.sticky-footer {
    flex: auto;
}

header, footer {
    display: flex;
    flex-shrink: 0;
}

header {
    justify-content: center;
    padding: 18px;
}

.logo {
    width: 500px;
}

/* 
###############
Main Index Page
###############
*/

main {
    align-items: center;
}

.recipes {
    width: 100%;
    margin: 0px 10px 20px 10px;
    display: flex;
    gap: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    transition: all 0.15s ease;
}

.item a{
    height: 100%;
}
.item img{
    border-radius: 0.5%;
    min-height: 550px;
    max-height: 650px;
    width: 100%;
    object-fit: cover;
}

.item:hover{
    border-radius: 5%;
    background-color: var(--highlight-colour);
}

.item h2{
    padding: 20px;
    text-align: center;
    color: var(--h-color);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
}

footer{
    justify-content: center;
}

footer p{
    padding: 10px 8px;
    width: 700px;
    border-top-width: 1px;
    border-top-color: var(--border-color);
    text-align: center;
}

/*
############
Recipe Pages
############
*/

.recipe{
    width: 650px;
}