/* 
##################################################################
Creates variables so colours can be called throughout the css file
##################################################################
*/

:root {
    --bg-colour: #f6f6f6;
    --logo-text: #8cc63e;
    --highlight-colour: #d1dac2;
    --h-color: #43493a;
    --border-color: #204B57;
    --footer-color: #125E8A;
  }
  

/*
###########
Base styles
###########
*/

html, body {
    width: 100%;
  }

body {
    height: 100vh; 
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    background-color: var(--bg-colour);
}


/* 
################
Main styles
################
*/

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.sticky-footer {
    display: flex;
    flex: auto;
}

header, footer {
    display: flex;
    flex-shrink: 0;
}

header {
    margin-top: 2vh;
    padding: 18px;
    justify-content: center;
}

.logo {
    width: 500px;
}

/* 
###############
Main Index Page
###############
*/

main {
    align-items: center;
}

.recipes {
    width: 100%;
    margin: 0px 10px 20px 10px;
    display: flex;
    flex: auto;
    gap: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    transition: all 0.15s ease;
}

.item a{
    height: 100%;
}

.item img{
    border-radius: 0.5%;
    min-height: 500px;
    max-height: 650px;
    width: 100%;
    object-fit: cover;
}

.item:hover{
    border-radius: 5%;
    background-color: var(--highlight-colour);
}

.item h2{
    padding: 20px;
    text-align: center;
    color: var(--h-color);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
}

footer{
    justify-content: center;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    width: 300px;
    border-top-width: 1px;
    border-top-color: var(--border-color);
}

.footer-items a{
    display: flex;
    align-items: center;
}

footer img {
    width: 28px;
    padding-right: 6px;
}

footer span{
    color: var(--footer-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/** Media Queries
*/

@media (max-width: 840px) {
  
  .logo {
    max-width: 500px;
    width: 100vw;
  }

  .recipes {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 20px;
  }
  
  .item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    transition: all 0.15s ease;
  }

  .item img{
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    height: 20vh;
    object-fit: cover;
  }

  .item h2{
    padding: 5px;    
    width: 100%;
    font-size: 5vw;
  }
}

/*
############
Recipe Pages
############
*/

.recipe{
    width: 650px;
}