/* 
##################################################################
Creates variables so colours can be called throughout the css file
##################################################################
*/

:root {
    --bg-colour: #f2e8cf;
    --border-colour: rgb(100, 100, 100);
  }
  

/*
###########
Base styles
###########
*/

html, body {
    width: 100%;
  }

body {
font-size: 14px;
font-family: arial,sans-serif;
color: #222;
}


/* 
################
Main Page styles
################
*/

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--bg-colour);
}

.logo {
    width: 130px;
}

.content {
    display: flex;
    flex-direction: column;
}

.seperator {
    height: 3.5px;
    background-color: var(--bg-colour);
    border: 1px solid var(--border-colour);
}

.recipes{
    display: flex;
    max-width: 100%;
}

.recipes a {
    width: 33.4%;
    max-height: 600px;
    overflow: hidden;
}

.recipes img{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.recipes img:hover{
    -webkit-transform: scale(1.02); /* Safari and Chrome */
    -moz-transform: scale(1.02); /* Firefox */
    -ms-transform: scale(1.02); /* IE 9 */
    -o-transform: scale(1.02); /* Opera */
    transform: scale(1.02);
}